
old/
*.pyc
server/data/tinydb/*.json
server/data/*.db
backups/
docs/build/
docs/make.bat
docs/Makefile
*.afdesign
server/test/.pytest_cache/
server/.pytest_cache/

device/arduino/BLE
device/arduino/RFM69