{% extends '/base.html' %}

{% block style %}
<style>
    .stage {
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
        background-color: #eee;
        border-width: 1px;
        border-top: 0;
        border-color: #ccc;
        border-style: solid;
        font-size: 16px;
    }
    .stage.active {
        background-color:skyblue;
    }
    .stages {
        margin-bottom: 25px;
    }
</style>
{% endblock%}

{% block script %}
<script>
    // Convert timestamps to local
    // $(document).ready(function() {
    //     $('.time-to-rel').each(function(k,v) {
    //         var m = moment($(this).html()); 
    //         $(this).html(m.format('llll') + " (" + m.fromNow() + ")");
    //     })
    // });
</script>
{% if current.id == 'preview' %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
<script>

    var chart = null;
    
    var build_charts = function() {
        var ctx = document.getElementById("chart1").getContext("2d");
        ctx.canvas.width = 1000;
        ctx.canvas.height = 300;
        var cfg = {
            type: 'bar',
            labels: [],
            data: {
                datasets: []
            },
            options: {
                scales: {
                    xAxes: [{
                        type: 'time',
                        distribution: 'series',
                        ticks: {
                            source: 'labels'
                        }
                    }],
                    yAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: 'Closing price ($)'
                        }
                    }]
                },
                legend: {
                    onClick: function (e) {
                        e.stopPropagation();
                    }
                }
            }
        };
        chart = new Chart(ctx, cfg);
    };

  

    function prepData(readings, field_name) {
        data   = []
        labels = []
        for (i in readings) {
            data.push({
                t: moment(readings[i].time),
                y: readings[i][field_name]
            })
            labels.push(
                moment(readings[i].time).format()
            );
        }
        return [data, labels]
    }


    function makeDataset(chart, timestamps, field_keys, readings) {
        datasets = []
        for (i in field_keys) {
            var dataset = {
                label: field_keys[i].name, 
                data: [],
                type: 'line',
                pointRadius: 0,
                fill: false,
                lineTension: 0,
                borderWidth: 2,
                borderColor: colors[i]
            }

            prepped = prepData(readings, field_keys[i].name)
            data = prepped[0];
            labels = prepped[1];
            for (i in data) { 
                // dataset.labels.push(labels[i]);
                dataset.data.push(data[i]);
            }
            
            datasets.push(dataset);
        }

        chart.data.labels = timestamps;
        chart.data.datasets = datasets;
        chart.update(0);
    }
    
    function show_error(msg) {
        $('#chart1').before('<div class="alert alert-danger">'+msg+'</div>');
        $('#option-config').hide();
        $('#chart1').hide();
    }

    var colors = [];
    for (var i=0; i<100; i++) { colors.push('#'+Math.random().toString(16).slice(-3)); } 

    $(document).ready(function() {
        build_charts();
        var timer = setInterval(function() {
            $.ajax({
                dataType: "json",
                url: "{{ url_for('api_get', device_id=device_id) }}",
                data: {
                    start: moment().utc().subtract(1, 'minutes').format(),
                    end: moment().utc().format(),
                    fill: "null",
                    interval: 1,
                    limit: 30,
                },
                success: function(resp) { 
                    makeDataset(chart, resp.timestamps, resp.field_keys, resp.readings); 
                },
                error: function(jqXHR) {
                    console.log(jqXHR.responseText);
                    show_error(jqXHR.responseText);
                    clearInterval(timer);
                }
            }); 
        }, 500);
    });
</script>
{% endif %}
{% endblock %}


{% block title %}Register - {{ current.id|capitalize }}{% endblock %}

{% block menu %}
<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
    <span>Stages</span>
</h6>
<ul class="nav flex-column">
    <li class="nav-item">
        {% for s in stages %}
        <a class="nav-link {% if current.id == s.id %}active{% endif %}" href="{% if device_id and s.link %}{{ url_for(s.link, device_id=device_id) }}{% else %}#{% endif %}">
            <span data-feather="circle"></span>
            {{ s.title }}
        </a>
        {% endfor %}
    </li>
</ul>
<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
        <span>Options</span>
    </h6>
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" href="/">
                <span data-feather="home"></span>
                Back to home
            </a>
        </li>
    </ul>
{% endblock %}

{% block content %}
{% if current.id == 'devices' %}
    <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">ID</th>
                <th scope="col">Last Updated</th>
                <th scope="col">Fields</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
            {% for device in devices %}
                {% with last_update, last_upd_keys = device.last_update() %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ device.id }}</th>
                    <td class="time-to-rel">{{ last_update.time }}</td>
                    <td>{% for k in last_upd_keys %}{{ k }}{% if not loop.last %}, {% endif %}{% endfor %}</td>
                    <td><a href="{{ url_for('device_register_preview', device_id=device.id) }}" class="btn btn-block btn-success">Preview</a></td>
                </tr>
                {% endwith %}
            {% endfor %}
            </tbody>
          </table>
{% endif %}

{% if current.id == 'preview' %}
<canvas id="chart1"></canvas>
<div class="row">
    <div class="col">
        <a href="{{ url_for('device_register') }}" class="btn btn-block btn-info">Back</a>
    </div>
    <div id="option-config" class="col">
        <a href="{{ url_for('device_register_config', device_id=device_id) }}" class="btn btn-block btn-success">Configure</a>
    </div>
</div>
{% endif %}

{% if current.id == 'configure' %}
    <div class="container">
        <form method="POST" class="form form-horizontal" action="{{ url_for('device_register_config', device_id=device_id) }}">

                {% for field in form.errors %}
                {% for error in form.errors[field] %}
                    <div class="alert alert-danger">
                        <strong>{{ form[field].label }}</strong> {{error}}
                    </div>
                {% endfor %}
                {% endfor %}

            <div class="card">
                <div class="card-body">
                    {{ form.csrf_token }}
                    <div class="form-group">
                        <label>{{ form.device_id.label }}
                        {{ form.device_id(size=40, class="form-control") }} 
                        </label>
                    </div>
                    <div class="form-group">
                        <label>{{ form.name.label }}
                        {{ form.name(size=40, class="form-control") }}
                        </label>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col">
                            <a href="{{ url_for('device_register_preview', device_id=device_id) }}" class="btn btn-block btn-info">Back</a>
                        </div>
                        <div class="col">
                            <input type="submit" class="btn btn-block btn-success float-right" value="Save">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endif %}

{% if current.id == 'done' %}
<div class="container">
        <div class="jumbotron">
            <h1>Registration complete</h1>
        </div>
    </div>
{% endif %}



{% endblock%}