{% extends 'base.html' %}
{% import 'macros.html' as b_wtf %}

{% block title %}System Admin - Backup / Restore{% endblock %}

{% block menu %}
{% with active = 'backup' %}
{% include 'system/menu.html' %}
{% endwith %}
{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header lead">Backup Data</div>
    <div class="card-body">
{% if download_link %}
    <a href="{{ download_link }}" class="btn btn-info">Download</a>
{% else %}
<form action="{{ url_for('sysadmin_backup') }}" method="POST">
            {{ b_wtf.bootstrap_form(backup_form) }}      
            <button type="submit" class="btn btn-primary">Backup</button>
</form> 
</div>
</div>
{% endif %}

{% endblock %}