{% extends 'base.html' %}
{% import 'macros.html' as b_wtf %}

{% block title %}System Admin - Backup / Restore{% endblock %}

{% block menu %}
{% with active = 'backup' %}
{% include 'system/menu.html' %}
{% endwith %}
{% endblock %}

{% block content %}

<div class="card">
        <div class="card-header lead">Existing Manual Backups (excluding remote)</div>
        
        {% if delete_form %}
        <div class="card-body">
        <p>Are you sure you want to delete {{ delete_file }}?</p>
        <form action="{{ url_for('sysadmin_backup_delete', filename=delete_file) }}" method="POST">
            {{ b_wtf.bootstrap_form(delete_form) }}      
            <button type="submit" class="btn btn-primary">Backup</button>
        </form> 
        </div>
        {% endif %}

        {% if backups_list %}
        <div class="card-body">
            This is a list of manually created backups stored on this server. Automatic backups are deleted after upload and will not appear 
            here if they have been uploaded. Check the logs for more information.
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                <th scope="col">Dataset</th>
                <th scope="col">Period</th>
                <th scope="col">Download</th>
                <th scope="col">Upload</th>
                <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for b in backups_list %}
                <tr>
                    <th scope="row">{{ b.dataset }}</th>
                    <th scope="row">{{ b.start }} to {{ b.end }}</th>
                    <td><a href="{{ url_for('sysadmin_backup_download', filename=b.stem) }}" class="btn btn-info">Download</a></td>
                    <td><a href="{{ url_for('sysadmin_backup_upload', filename=b.stem) }}" class="btn btn-info">Upload</a></td>
                    <td><a href="{{ url_for('sysadmin_backup_delete', filename=b.stem) }}" class="btn btn-danger">Delete</button></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
    <BR><BR>


{% if backup_form %}
<div class="card">
    <div class="card-header lead">Backup Data</div>
    <div class="card-body">
        <form action="{{ url_for('sysadmin_backup_create') }}" method="POST">
            {{ b_wtf.bootstrap_form(backup_form) }}      
            <button type="submit" class="btn btn-primary">Backup</button>
        </form> 
    </div>
</div>
{% endif %}

{% if restore_form %}
<BR><BR>
<div class="card">
    <div class="card-header lead">Restore Data</div>
    <div class="card-body">Not yet implemented</div>
</div>
{% endif %}

{% endblock %}