{% extends 'system/base.html' %}
{% import 'macros.html' as b_wtf %}

{% block title %}Database Tools{% endblock %}

{% block menu %}
{% with active = 'db' %}
{% include 'system/menu.html' %}
{% endwith %}
{% endblock %}

{% block content %}
<div class="container">

  <div class="row">
    {% if devices %}
    <div class="col">
      <div class="card">
        <div class="card-header lead">Device (with data) record count</div>
          <ul class="list-group list-group-flush">  
          {% for device in devices %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
              {{ device.name }} ({{ device.id }}) {{ device.is_registered() }} 
              <span class="badge badge-primary badge-pill">{{ device.count() or "None" }}</span>
            </li>
          {% endfor %}
          </ul>
      </div>
    </div>
    {% endif %}
    {% if log %}
    <div class="col">
      <div class="card">
        <div class="card-header lead">Log category count</div>
          <ul class="list-group list-group-flush">  
            {% for key, value in log.categories.items() %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                {{ key }}
              <span class="badge badge-primary badge-pill">{{ value or "None" }}</span>
            </li>
            {% endfor %}
          </ul>
        </div>
    </div>
    {% endif %}
  </div>
  

  <BR>
    <form id="purge_by_device" action="{{ request.path }}" method="POST">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link {{ 'active' if request.path == url_for('.db') }}" href="{{ url_for('.db') }}">Info</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {{ 'active' if request.path == url_for('.db_purge_by_device') }}" href="{{ url_for('.db_purge_by_device') }}">Purge by device</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {{ 'active' if request.path == url_for('.db_purge_by_reg_state') }}" href="{{ url_for('.db_purge_by_reg_state') }}">Purge by registration status</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {{ 'active' if request.path == url_for('.db_purge_registry') }}" href="{{ url_for('.db_purge_registry') }}">Purge by device registry</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {{ 'active' if request.path == url_for('.db_purge_logs') }}" href="{{ url_for('.db_purge_logs') }}">Purge by log</a>
    </li>
  </ul>
  
  {% if form %}
  <!-- Purge form -->
  <div class="card border-top-0 rounded-0">
    <div class="card-body">
        {{ b_wtf.bootstrap_form(form) }}    
    </div>
    <div class="card-footer" style="background-color:#ccc;">
      <button type="submit" class="btn btn-block btn-danger">Purge</button>
    </div>  
  </div>
    
    {% else %}
    <div class="card border-top-0 rounded-0">
        <div class="card-body">
          Danger! These options allow you to perminantly delete data. This cannot be undone so please make a backup first.
          <p><strong>Note:</strong> Data older than 
          {{ config.AUTO_PURGE_UNREG_KEEP }} minutes for unregistered devices is deleted 
          automatically every {{ config.AUTO_PURGE_UNREG_INTERVAL }} minutes.
        </div>
    </div>
    {% endif %}
  
  </form> 
</div>
{% endblock %}