{% extends 'system/base.html' %}

{% block title %}System Admin - Devices{% endblock %}

{% block menu %}
{% with active = 'devices' %}
{% include 'system/menu.html' %}
{% endwith %}
{% endblock %}



{% block content %}
<table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">ID</th>
            <th scope="col">Last Updated</th>
            <th scope="col">Fields</th>
            <th scope="col" colspan="2"></th>
     
          </tr>
        </thead>
        <tbody>
       
        {% for device in devices %}
            {% with last_update, last_upd_keys = device.last_update() %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ device.id }}</th>
                <td class="time-to-rel">{{ last_update.time }}</td>
                <td>{% for f in device.fields() %}
                  {{ f.name }} ({{ f.unit }})
                  {% if not loop.last %}, {% endif %}
                  {% endfor %}</td>
                
                <td><a href="{{ url_for('device_register_config', device_id=device.id) }}" class="btn btn-block btn-info">Preview</a></td>
                {% if device.is_registered() %}
                <td><a href="{{ url_for('sysadmin_unreg', device_id=device.id) }}" class="btn btn-block btn-danger">Unregister</a></td>
                {% else %}
                <td><a href="{{ url_for('device_register_preview', device_id=device.id) }}" class="btn btn-block btn-success">Register</a></td>
                {% endif %}
            
            </tr>
            {% endwith %}
        {% endfor %}
        </tbody>
      </table>
{% endblock %}