{% extends 'system/base.html' %}

{% block title %}Stats{% endblock %}

{% block menu %}
{% with active = 'index' %}
{% include 'system/menu.html' %}
{% endwith %}
{% endblock %}

{% block content %}
<div class="container">
  <table class="table table-bordered">
    <tbody>
        <tr>
          <th scope="row">Total Readings</th>
          <td>
            {% for key, value in stats.device.total_readings.items() %}
                {{ key }}: {{ value }}<br>
            {% endfor %}
            </td>
        </tr>
        <tr>
          <th scope="row">Number of Registered Devices</th>
          <td>{{ stats.device.registered_devices }}</td>
        </tr>
        <tr>
          <th scope="row">Last Update</th>
          <td>{{ stats.device.last_update }} ({{ stats.device.last_update_humanized }})</td>
        </tr>
        
        <tr>
          <th scope="row">Number of Log records</th>
          <td>{{ stats.log.count }}
            </td>
        </tr>
    </tbody>
</table>

{% if recent_errors.results %}

<div class="card ">
  <div class="card-header bg-warning ">Recent Errors</div>
  <table class="table">
    <thead>
        <tr>
          <th>Date & Time</th>
          <th>Message</th>
          <th>Extra</th>
        </tr>
      </thead>
      <tbody>
          {% for error in recent_errors.results %}
          <tr>
              <td>{{ error.time }}</td>
              <td>{{ error.message }}</td>
              <td>{{ error.extra }}</td>
          </tr>
          {% endfor %}
      </tbody>
  </table>
</div>
{% endif %}
</div>
<BR>
{% endblock %}