{% extends 'base.html' %}
{% import 'macros.html' as b_wtf %}

{% block title %}System Admin - Logs{% endblock %}

{% block menu %}
{% with active = 'logs' %}
{% include 'system/menu.html' %}
{% endwith %}
{% endblock %}

{% block style %}
<style>
  .cat-funcexec {
    color: blue;
  }
  .cat-interaction {
    color: green;
  }
  .cat-error {
    color: red;
  }
  .cat-debug {
    color: purple;
  }
</style>
{% endblock %}

{% block content %}

<nav class="navbar navbar-light bg-light">

<form  class="form-inline" action="{{ url_for('sysadmin_logs') }}" method="POST">

    {{form.hidden_tag()}}
    <div class="form-row align-items-baseline">
      <div class="">
          {{ b_wtf.bootstrap_field(form.start, label=True, horizontal=True) }}    
      </div>
      <div class="">
          {{ b_wtf.bootstrap_field(form.end, label=True, horizontal=True) }}    
      </div>
      <div class="">
          {{ b_wtf.bootstrap_field(form.cat, label=True, horizontal=True) }}    
      </div>
      <div class="">
          {{ b_wtf.bootstrap_field(form.limit, label=True, horizontal=True) }}    
      </div>
      
        <button type="submit" class="btn btn-primary">Filter</button>
      
    </div>
  </form>
  </nav>
  <BR>
<table class="table table-bordered">
    <thead>
      <tr>
        <th>Date & Time</th>
        <th>Category</th>
        <th>Message</th>
        <th>Extra</th>
      </tr>
    </thead>
    <tbody>
        {% for ld in logdata %}
        <tr>
            <td>{{ ld.time }}</td>
            <td class="cat-{{ ld.category }}"><strong>{{ ld.category }}</strong></td>
            <td>{{ ld.message }}</td>
            <td>{{ ld.extra }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

  
     <BR>
  
{% endblock %}