{% extends 'system/base.html' %}
{% import 'macros.html' as b_wtf %}

{% block title %}Logs{% endblock %}

{% block menu %}
{% with active = 'logs' %}
{% include 'system/menu.html' %}
{% endwith %}
{% endblock %}

{% block script %}
<script>
  $(document).ready(function() { 
    $('.pagination-link').click(function(e) {
      e.preventDefault();
      $('#offset').val( $(this).data('goto') * $('#limit').val() );
      $('#filter').submit();
    });
    $('.more-details').click(function(e) {
      console.log($(this).data('details'));
      var display = $(this).data('details');
      try {
        display = JSON.stringify(display, null, 2);
      } catch (e) {
        console.log(e);
      }
      $('#details_modal pre').html( display );
      $('#details_modal').modal({ show: true });
    });
  });
  
</script>
{% endblock %}

{% block style %}
<style>
  .cat-funcexec {
    color: blue;
  }
  .cat-interaction {
    color: green;
  }
  .cat-error {
    color: red;
  }
  .cat-debug {
    color: purple;
  }
  .pagination, .pagination li {
    margin: 0!important;
  }
</style>
{% endblock %}

{% block pagination %}
  {% if logdata.num_pages > 1 %}
    <ul class="pagination justify-content-end">
      {% if logdata.page_num > 1 %}
      <li class="page-item"><a class="page-link pagination-link" data-goto="{{ logdata.page_num - 2 }}" href="#">Previous</a></li>
      {% endif %}
      {% for i in range(1, logdata.num_pages+1) %}
        {% if i > logdata.page_num - 4 and i < logdata.page_num + 4 %}
        <li class="page-item {{ 'active' if logdata.page_num == i else '' }}">
          <a class="page-link pagination-link" href="#" data-goto="{{ i - 1 }}">{{ i }}</a>
        </li>
        {% endif %}
      {% endfor %}
      {% if logdata.page_num < logdata.num_pages %}
      <li class="page-item"><a class="page-link pagination-link" data-goto="{{ logdata.page_num  }}" href="#">Next</a></li>
      {% endif %}
    </ul>

  {% endif %}
{% endblock %}

{% block content %}
<div class="card">
  <div class="card-body">
    <form id="filter" class="form-inline" action="{{ url_for('.logs') }}" method="POST">
        {{form.hidden_tag()}}
        <div class="form-row align-items-baseline">
          <div class="">
              {{ b_wtf.bootstrap_field(form.start, label=True, horizontal=True) }}    
          </div>
          <div class="">
              {{ b_wtf.bootstrap_field(form.end, label=True, horizontal=True) }}    
          </div>
          <div class="">
              {{ b_wtf.bootstrap_field(form.cat, label=True, horizontal=True) }}    
          </div>
          <div class="">
              {{ b_wtf.bootstrap_field(form.limit, label=True, horizontal=True) }}    
          </div>
          <div class="">
            {{ b_wtf.bootstrap_field(form.offset, label=True, horizontal=True) }}    
          </div>
          <div class="">
              {{ b_wtf.bootstrap_field(form.orderby, label=True, horizontal=True) }}    
            </div>
            <button type="submit" class="btn btn-primary">Filter</button>
        </div>
      </form>
    </div>
    <div class="card-footer">
      <div class="row">
        <div class="col">Showing results {{ logdata.page_start }} to {{ logdata.page_end }} of {{ logdata.total }} | Page {{ logdata.page_num }} of {{ logdata.num_pages }}</div>
        <div class="col justify-content-end">{{ self.pagination() }}</div>
      </div>
    </div>
  </div>
<BR>    
<table class="table table-bordered">
    <thead>
      <tr>
        <th width="45px"></th>
        <th width="445px">Date & Time</th>
        <th>Message</th>
        <th width="100px">Details</th>
      </tr>
    </thead>
    <tbody>
        {% with icons = { "error": "fas fa-exclamation-triangle", "interaction": "fas fa-mouse-pointer", "debug": "fas fa-bug", "funcexec": "fas fa-exchange-alt" } %}
        {% for ld in logdata.results %}
        <tr>
            <td>
              <a href="javascript: alert('{{ ld.category }}');" alt="{{ ld.category }}" class="cat-{{ ld.category }}"><i class="{{ icons[ld.category] }} fa-fw"></i></a>
            </td>
            <td>
              
              <script>document.write(moment('{{ ld.time }}').format() + ' (' + moment('{{ ld.time }}').fromNow() + ')');</script>
            </td>
            <td>{{ ld.message }}</td>
            <td>{% if ld.extra %}<button class="btn btn-block btn-sm btn-secondary more-details" data-details="{{ ld.extra }}">Details</button>{% endif %}</td>
        </tr>
        {% endfor %}
        {% endwith %}
    </tbody>
</table>
{{ self.pagination() }}
<BR>

<!-- Modal -->
<div class="modal fade" id="details_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Details</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <pre>Loading</pre>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}