{% extends 'system/base.html' %}
{% import 'macros.html' as b_wtf %}

{% block style %}
{% endblock%}

{% block script %}
<script>
    var intervalTimer = null;
    var refresh_interval = 2000;

    function initPlot() {       
        chart = c3.generate({
            bindto: '#chart',
            data: {
                x: 'x',
                xFormat: '%Y-%m-%dT%H:%M:%SZ',
                json: [],
                keys: {
                    x: 'time',
                    value: []
                }
            },
            axis: {
                x: {
                    type: 'timeseries',
                    tick: {
                        format: '%Y-%m-%d %H:%M:%S'
                    }
                }
            },
            zoom: {
                enabled: true
            },
            transition: {
                duration: null
            }
        });
    }

    function getData(callback_success, callback_error) {
        $.ajax({
            dataType: "json",
            method: "GET",
            url: "{{ url_for('api.readingsapi') }}",
            data: {
                device_id: "{{ device.id }}",
                start: moment().utc().subtract(2, 'minutes').format(),
                end: moment().utc().format(),
                fill: "null",
                interval: 5
            },
            success: callback_success,
            error: callback_error
        }); 
    }

    function updatePlot() {
        getData(function(data) {
            var names = {};
            $.each(data.fields, function(field_id, field_info) {
                names[field_id] = field_info.name;
            });
            console.log(data.field_ids);
            chart.load({
                json: data.readings,
                keys: {
                    x: 'time',
                    value: data.field_ids,
                },
                names: names
            });

        }, function() {
            showAlert("Failed to fetch data from the server. Now terminating automatic refreshing.", 'danger');
            clearInterval(intervalTimer);
        });
    }

    function putData() {
        $.ajax({
            dataType: "json",
            method: "PUT",
            url: "{{ url_for('api.readingsapi') }}",
            data: $( "#putform" ).serialize(),
            success: function() { showAlert('Reading Added', 'success'); },
            error: function() { showAlert('Failed to add reading', 'danger'); }
        }); 
    }
    
    $(document).ready(function() {
        initPlot();
        updatePlot();
        intervalTimer = setInterval(updatePlot, refresh_interval);
        $('#putform').submit(function(e) {
            e.preventDefault();
            putData();
        })
    });
</script>
{% endblock %}


{% block title %}{{ device.name }} ({{ device.id }}) - Data Preview {% endblock %}

{% block menu %}
{% with active = 'devices' %}
{% include 'system/menu.html' %}
{% endwith %}
{% endblock %}

{% block content %}
<div id="chart"></div>

<div class="container">

    <div class="row">
        <div class="col">
            <a href="{{ url_for('.devices') }}" class="btn btn-block btn-secondary">Back</a>
        </div>
        <div class="col">
        <button class="btn btn-secondary btn-block " type="button" data-toggle="collapse" data-target="#collapseAddReading" aria-expanded="false" aria-controls="collapseAddReading">
            Manually Add Reading
          </button>
        </div>
        <div id="option-config" class="col">
            <a href="{{ url_for('.device_register_config', device_id=device.id) }}" class="btn btn-block btn-success">
                {{ "Configure" if device.is_registered() else "Register" }}
            </a>
        </div>
    </div>
    <BR>

    <div class="collapse" id="collapseAddReading">
        <form id="putform" class="form form-horizontal" action="">
                {% for field in form.errors %}
                {% for error in form.errors[field] %}
                    <div class="alert alert-danger">
                        <strong>{{ form[field].label }}</strong> {{error}}
                    </div>
                {% endfor %}
                {% endfor %}
            <div class="card">
                <div class="card-header">Add Reading</div>
                <div class="card-body">
                    {{ form.csrf_token }}
                    {{ b_wtf.bootstrap_form(form) }}  
                    <input type="submit" class="btn btn-block btn-success float-right" value="Save">
                </div>
            </div>
        </form>
    </div>

</div>
{% endblock%}