{% extends 'system/base.html' %}

{% block style %}
{% endblock%}

{% block script %}
<script>
    var intervalTimer = null;
    var refresh_interval = 2000;

    function initPlot() {       
        chart = c3.generate({
            bindto: '#chart',
            data: {
                x: 'x',
                xFormat: '%Y-%m-%dT%H:%M:%SZ',
                json: [],
                keys: {
                    x: 'time',
                    value: []
                }
            },
            axis: {
                x: {
                    type: 'timeseries',
                    tick: {
                        format: '%Y-%m-%d %H:%M:%S'
                    }
                }
            },
            zoom: {
                enabled: true
            },
            transition: {
                duration: null
            }
        });
    }

    function getData(callback_success, callback_error) {
        $.ajax({
            dataType: "json",
            method: "POST",
            url: "{{ url_for('api_get') }}",
            data: {
                start: moment().utc().subtract(1, 'minutes').format(),
                end: moment().utc().format(),
                fill: "null",
                interval: 1,
                device_id: '{{ device_id }}'
            },
            success: callback_success,
            error: callback_error
        }); 
    }

    function updatePlot() {
        getData(function(data) {
            console.log(data);
            var names = {};
            $.each(data.fields, function(field_id, field_info) {
                names[field_id] = field_info.name;
            });

            chart.load({
                json: data.readings,
                keys: {
                    x: 'time',
                    value: data.field_ids,
                },
                names: names
            });

        }, function() {
            showAlert("Failed to fetch data from the server. Now terminating automatic refreshing.", 'danger');
            clearInterval(intervalTimer);
        });
    }
    
    $(document).ready(function() {
        initPlot();
        updatePlot();
        intervalTimer = setInterval(updatePlot, refresh_interval);
    });
</script>
{% endblock %}


{% block title %}Device - Data Preview{% endblock %}

{% block menu %}
{% with active = 'devices' %}
{% include 'system/menu.html' %}
{% endwith %}
{% endblock %}

{% block content %}
<div id="chart"></div>
<hr>
<div class="row">
    <div class="col">
        <a href="{{ url_for('sysadmin_devices') }}" class="btn btn-block btn-info">Back</a>
    </div>
    <div id="option-config" class="col">
        <a href="{{ url_for('device_register_config', device_id=device_id) }}" class="btn btn-block btn-success">Configure / Register</a>
    </div>
</div>
{% endblock%}