{% extends 'system/base.html' %}

{% block style %}
<style>
    .stage {
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
        background-color: #eee;
        border-width: 1px;
        border-top: 0;
        border-color: #ccc;
        border-style: solid;
        font-size: 16px;
    }
    .stage.active {
        background-color:skyblue;
    }
    .stages {
        margin-bottom: 25px;
    }
</style>
{% endblock%}

{% block script %}
{% if current == 'preview' %}
<script src="{{ url_for('static', filename='js/chart.js' )}}"></script>
<script>
    var intervalTimer = null;
    var refresh_interval = 2000;

    function initPlot() {       
        chart = c3.generate({
            bindto: '#chart',
            data: {
                x: 'x',
                xFormat: '%Y-%m-%dT%H:%M:%SZ',
                json: [],
                keys: {
                    x: 'time',
                    value: []
                }
            },
            axis: {
                x: {
                    type: 'timeseries',
                    tick: {
                        format: '%Y-%m-%d %H:%M:%S'
                    }
                }
            },
            zoom: {
                enabled: true
            },
            transition: {
                duration: null
            }
        });
    }

    function getData(callback_success, callback_error) {
        $.ajax({
            dataType: "json",
            method: "POST",
            url: "{{ url_for('api_get') }}",
            data: {
                start: moment().utc().subtract(1, 'minutes').format(),
                end: moment().utc().format(),
                fill: "null",
                interval: 1,
                device_id: '{{ device_id }}'
            },
            success: callback_success,
            error: callback_error
        }); 
    }

    function updatePlot() {
        getData(function(data) {
            console.log(data);
            var names = {};
            $.each(data.fields, function(field_id, field_info) {
                names[field_id] = field_info.name;
            });

            chart.load({
                json: data.readings,
                keys: {
                    x: 'time',
                    value: data.field_ids,
                },
                names: names
            });

        }, function() {
            showAlert("Failed to fetch data from the server. Now terminating automatic refreshing.", 'danger');
            clearInterval(intervalTimer);
        });
    }
    
    $(document).ready(function() {
        initPlot();
        updatePlot();
        intervalTimer = setInterval(updatePlot, refresh_interval);
    });
</script>
{% endif %}
{% endblock %}


{% block title %}Register - {{ current|capitalize }}{% endblock %}

{% block menu %}
{% with active = 'devices' %}
{% include 'system/menu.html' %}
{% endwith %}
{% endblock %}

{% block content %}


{% if current == 'preview' %}
<div id="chart"></div>
<hr>
<div class="row">
    <div class="col">
        <a href="{{ url_for('sysadmin_devices') }}" class="btn btn-block btn-info">Back</a>
    </div>
    <div id="option-config" class="col">
        <a href="{{ url_for('device_register_config', device_id=device_id) }}" class="btn btn-block btn-success">Configure</a>
    </div>
</div>
{% endif %}

{% if current == 'configure' %}
    <div class="container">
        <form method="POST" class="form form-horizontal" action="{{ url_for('device_register_config', device_id=device_id) }}">

                {% for field in form.errors %}
                {% for error in form.errors[field] %}
                    <div class="alert alert-danger">
                        <strong>{{ form[field].label }}</strong> {{error}}
                    </div>
                {% endfor %}
                {% endfor %}

            <div class="card">
                <div class="card-body">
                    {{ form.csrf_token }}
                    <div class="form-group">
                        <label>{{ form.device_id.label }}
                        {{ form.device_id(size=40, class="form-control") }} 
                        </label>
                    </div>
                    <div class="form-group">
                        <label>{{ form.name.label }}
                        {{ form.name(size=40, class="form-control") }}
                        </label>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col">
                            <a href="{{ url_for('device_register_preview', device_id=device_id) }}" class="btn btn-block btn-info">Back</a>
                        </div>
                        <div class="col">
                            <input type="submit" class="btn btn-block btn-success float-right" value="Save">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endif %}

{% endblock%}