{% extends 'system/base.html' %}
{% import 'macros.html' as b_wtf %}

{% block title %}Serial{% endblock %}

{% block menu %}
{% with active = 'serial' %}
{% include 'system/menu.html' %}
{% endwith %}
{% endblock %}

{% block script %}
<script>
  var lastUpdTime = moment().utc().subtract(1, 'hour');

  var scrollToLastLine = function() {
    $('#serial_out').scrollTop($('#serial_out')[0].scrollHeight);
  };


  var update = function() {
    $( "#serial_out" ).load( "{{ url_for('.serial_log_tail', nlines=50) }}", function() {
        if ($('#auto_scroll').prop('checked')) scrollToLastLine();
    });
  };

  var onTXsubmit = function(event) {
    event.preventDefault();
    $.ajax({
        type: "POST",
        url: "{{ url_for('.serial') }}",
        dataType: "json",
        data: $(this).serialize(),
        success: function() { 
            $( "#serial_out" ).append('Send.');
            $('[name=message]').val(""); 
        },
        error: function(e) { 
            console.log(e); 
            showAlert('Failed to send: '+e.responseText, 'danger'); 
        }       
    });
  };

  $(document).ready(function() { 
    update();
    setInterval(update, 1000);
    $('#txform').submit(onTXsubmit);
  });
</script>
{% endblock %}

{% block style %}
<style>
    #serial_out {
        font-family: "Lucida Console", "Courier New", monospace;
        padding: 10px;
        width: 100%;
        height: 400px;
    }
</style>
{% endblock %}


{% block content %}
<div class="card">
    <div class="card-header">Live Stream 
            <div class="form-check float-right">
                <input type="checkbox" class="form-check-input" id="auto_scroll" checked="checked">
                <label class="form-check-label" for="auto_scroll">Auto Scroll</label>
            </div>
            <div class="float-right" style="margin-right:20px;">
                <i class="fas fa-sync"></i> <span id="refesh_message"></span>
            </div>
    </div>
    <pre id="serial_out">
        Connecting...
    </pre>
    <div class="card-footer">
        <form id="txform" action="{{ url_for('.serial') }}" method="POST">
            {{form.hidden_tag()}}
            <div class="input-group">
                <input type="text" class="form-control" name="message" id="message"/>
                <div class="input-group-append">
                    <button type="submit" class="btn btn-primary">Send</button>
                </div>   
            </div>
        </form>
    </div>
</div>
<BR>  
{% endblock %}