{% extends 'system/base.html' %}
{% import 'macros.html' as b_wtf %}

{% block title %}System Admin - Unregister Device{% endblock %}

{% block menu %}
{% with active = 'devices' %}
{% include 'system/menu.html' %}
{% endwith %}
{% endblock %}

{% block content %}
<form id="confirm_purge" action="{{ url_for('sysadmin_unreg', device_id=device_id) }}" method="POST">
<div class="card">
    <div class="card-header lead">Unregister {{ device_id }}?</div>
    <div class="card-body">
          {{ b_wtf.bootstrap_form(unreg_form) }}      
          <button type="submit" class="btn btn-block btn-danger">Unregister</button>
    </div>
  </div>
</form> 
{% endblock %}