<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/img/favicon.ico">

    <title>{{ config.SITE_NAME }}</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='_bootstrap4/css/bootstrap.min.css') }}" rel="stylesheet"/>  
    <link href="{{ url_for('static', filename='_c3/css/c3.min.css') }}" rel="stylesheet"/>  

    <script src="{{ url_for('static', filename='_jquery/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js' )}}"></script>
    <script src="{{ url_for('static', filename='_bootstrap4/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/moment-locals.js') }}"></script>
    <script defer src="{{ url_for('static', filename='_fontawesome/fontawesome-all.min.js') }}"></script>
    <script src="{{ url_for('static', filename='_d3/js/d3.min.js') }}"></script> 
    <script src="{{ url_for('static', filename='_c3/js/c3.min.js' )}}"></script>
    <script src="{{ url_for('static', filename='js/palette.js') }}"></script>

    <style>
      .flash-messages {
        left:100px;
        right: 100px;
        top:20px;
        margin-bottom: 15px;
      }
      .flash-alert {
        border-radius: 0;
        margin-bottom: 0; 
      }
      .logo {
        position: absolute;
        top: 10px;
        left:20px;
        height: 90px;
        z-index: 10000;
      }
      .logo img {
        height: 90px;
      }
      .navbar-nav {
        margin-left: 120px; 
        margin-bottom: 0;
      }
      .settings-link {
        color: black!important;
      }
      .base-shadow {
        box-shadow: 0 2px 1px 0 #ccc;
      }
  </style>

    {% block script %}
    {% endblock %}

    <script>
      var showAlert = function(message, style) {
        //$('.flash-messages .alert').removeClass('hide').addClass('show');
        var close = $('<button><span aria-hidden="true">&times;</span></button>')
          .prop('type','button')
          .attr('data-dismiss', 'alert')
          .addClass('close');
        var alert = $('<div></div>')
          .html(message)
          .attr('data-dismiss', 'alert')
          .append(close)
          .addClass('alert alert-'+style+' alert-dismissible fade show flash-alert')
          .attr('role', 'alert');
        $('.flash-messages').append(alert);
      };

      $(document).ready(function() { 
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              showAlert("{{ message }}","{{ category }}");
            {% endfor %}
          {% endif %}
        {% endwith %}
      });
      </script>

    <!-- Custom styles for this template -->
    {% block style %}
    {% endblock %}
  </head>

  <body>
  
    <div class="logo">
        <a href="/"><img src="{{ url_for('static', filename='img/logo.png') }}" alt="{{ config.SITE_NAME }}"/></a>
    </div>
    
    <nav class="navbar navbar-light sticky-top flex-md-nowrap" style="background-color:#94D9CE;">
        {% if config.SHOW_SETTINGS_LINK %}
        <ul class="navbar-nav ml-auto">
            <li class="nav-item mr-0">  
                <a class="nav-link settings-link" href="{{ url_for('sysadmin_index') }}"><i class="fas fa-cog"></i> Settings</a>
            </li>
        </ul>
        {% endif %}
      </nav>
      <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top flex-md-nowrap base-shadow" style="margin-bottom:0">
          <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                {% block menu %}
                {% endblock %}
            </ul>
          </div>
        </nav>

        <div class="flash-messages"></div>

        {% block body %}
        {% endblock %}
  </body>
</html>