{% include 'base.html' %}

{% block script %}
 <!-- Icons -->
 <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
 <script>
     $(document).ready(function() { feather.replace(); });
 </script>

{% endblock %}

{% block content %}

    {% include 'menu.html' %}

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
            <button class="btn btn-sm btn-outline-secondary">Share</button>
            <button class="btn btn-sm btn-outline-secondary">Export</button>
            </div>
            <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <span data-feather="calendar"></span>
            This week
            </button>
        </div>
        </div>

        <iframe src="http://192.168.1.188:3000/dashboard-solo/db/new-dashboard?panelId=1&fullscreen&from=1519841522757&to=1519842365597" width="100%" height="400" frameborder="0"></iframe>
        
        </div>
    </main>
{% endblock %}
