.flash-messages {
    position: fixed;
    z-index: 10000;
    left:100px;
    right: 100px;
    top:20px;
}

.flash-messages ul {
    list-style: none;
    margin-bottom: 0px;
}

.logo {
  position: absolute;
  top: 10px;
  left:20px;
  height: 90px;
  z-index: 10000;
}
.logo img {
  height: 90px;
}
  
.navbar-nav {
  margin-left: 120px; 
}