<script>
(function(){ 

    var elem_id = "plot-{{ plot_id }}";
    var chart = null;
    var intervalTimer = null;
    var reading_interval = parseInt('{{ plot.time.reading_interval_seconds }}');
    var refresh_interval = 1000 * parseInt('{{ plot.refresh_interval_seconds }}');
    var metrics = JSON.parse('{ "metrics": {{ plot.metrics|tojson|safe }} }');
        metrics = metrics['metrics'];
    var units = JSON.parse('{ "units": {{ plot.units|default("[]")|tojson|safe }} }');
        units = units['units'];
 
    var time_init = JSON.parse('{{ plot.time|default("{}")|tojson|safe }}');
   
    function initPlot() {       
        chart = c3.generate({
            bindto: '#'+elem_id,
            data: {
                x: 'x',
                xFormat: '%Y-%m-%dT%H:%M:%SZ',
                json: [],
                keys: {
                    x: 'time',
                    value: []
                }
            },
            axis: {
                x: {
                    type: 'timeseries',
                    tick: {
                        format: '%Y-%m-%d %H:%M:%S',
                        rotate: 75,
                        multiline: true
                    }
                }
            },
            zoom: {
                enabled: true
            },
            transition: {
                duration: null
            }
        });
    }
    
    function updSuccess(data) {
        var names = {};
        $.each(data.fields, function(field_id, field_info) {
            names[field_id] = field_info.friendly;
        });
        chart.load({
            json: data.readings,
            keys: {
                x: 'time',
                value: data.field_ids,
            },
            names: names
        });
    }

    function updError() {
        showAlert("Failed to fetch data from the server. Now terminating automatic refreshing.", 'danger');
        clearInterval(intervalTimer);
    }

    function updatePlot() {
        var new_times = calculate_times(time_init);
        console.log(new_times);
        if (new_times===null) { updError(); return; }
        getData(
            new_times.start,
            new_times.end,
            time_init.fill, 
            reading_interval,
            metrics,
            updSuccess,
            updError
        );
    }

    // Startup and set refresh
    initPlot();
    updatePlot();
    if (refresh_interval >0) intervalTimer = setInterval(updatePlot, refresh_interval); 

})();
</script>