<script>
(function(){ 

    var elem_id = "plot-{{ plot.id }}";
    var chart = null;
    var intervalTimer = null;
    var api_url = "{{ url_for('api_get') }}"
    var reading_interval = parseInt('{{ plot.time.reading_interval }}');
    var refresh_interval = parseInt('{{ plot.refresh_interval }}');
    var metrics = JSON.parse('{ "metrics": {{ plot.metrics|tojson|safe }} }');
        metrics = metrics['metrics'];
    var units = JSON.parse('{ "units": {{ plot.units|default("[]")|tojson|safe }} }');
        units = units['units'];
    var colors = palette('tol', metrics.length);

    function initPlot() {       
        chart = c3.generate({
            bindto: '#'+elem_id,
            data: {
                x: 'x',
                xFormat: '%Y-%m-%dT%H:%M:%SZ',
                json: [],
                keys: {
                    x: 'time',
                    value: []
                }
            },
            axis: {
                x: {
                    type: 'timeseries',
                    tick: {
                        format: '%Y-%m-%d %H:%M:%S'
                    }
                }
            },
            zoom: {
                enabled: true
            },
            transition: {
                duration: null
            }
        });
    }
    
    function getData(callback_success, callback_error) {
        $.ajax({
            dataType: "json",
            method: "POST",
            url: api_url,
            data: {
                start: moment().utc().subtract(refresh_interval, 'milliseconds').format(),
                end: moment().utc().format(),
                fill: "null",
                interval: reading_interval,
                metrics:  JSON.stringify(metrics),
            },
            success: callback_success,
            error: callback_error
        }); 
    }

    function updatePlot() {

        getData(function(data) {
            console.log(data);
            var names = {};
            $.each(data.fields, function(field_id, field_info) {
                names[field_id] = field_info.name;
            });

            chart.load({
                json: data.readings,
                keys: {
                    x: 'time',
                    value: data.field_ids,
                },
                names: names
            });

        }, function() {
            showAlert("Failed to fetch data from the server. Now terminating automatic refreshing.", 'danger');
            clearInterval(intervalTimer);
        });
    }

    // Startup and set refresh
    initPlot();
    updatePlot();
    if (refresh_interval >0) intervalTimer = setInterval(updatePlot, refresh_interval); 

})();
</script>