{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block style %}
<style>
    #menu ul {
        list-style: none;
        padding-left:20px;
        font-size: 16px;
        margin-bottom:10px;
        color: #666;
    }
    #menu li {
        padding-top:5px;
    }
    #menu a {
        color: #999;
        text-decoration-line: none; 
    }
    #menu a.selected {
        color: rgb(41, 113, 195);
        font-weight: 400;
    }
</style>
{% endblock %}

{% block script %}
<script>

    function getData(test_device_0, callback_success, callback_error) {
        var apiUrl = "{{ url_for('api_get', device_id='DEVICE_ID') }}".replace('DEVICE_ID',test_device_0);
        $.ajax({
                dataType: "json",
                url: apiUrl,
                data: {
                    start: moment().utc().subtract(1, 'minutes').format(),
                    end: moment().utc().format(),
                    fill: "null",
                    interval: 1,
                    limit: 30,
                },
                success: callback_success,
                error: callback_error
        }); 
    }
    
    function refreshData() {
        console.log("Refreshing Data");
    }

    function stopLiveUpdate() {
        if (window.liveupdInterval !== undefined && window.liveupdInterval !== null) clearInterval(window.liveupdInterval);
    }

    function startLiveUpdate() {
        window.liveupdInterval = setInterval(refreshData, 2500);
    }

    function clickFieldOption(e) {
        e.preventDefault();
        setFieldSelected($(this), !$(this).hasClass('selected') );
        updatePlot();
        var cookieName = $(this).data('device-id') + '__' + $(this).data('field-id');
        Cookies.remove(cookieName);
        Cookies.set(cookieName, $(this).hasClass('selected') ? "selected" : "not_selected");      
    }

    function setFieldSelected(elem, makeSelected) {
        if (makeSelected === true) {
            elem.addClass('selected');
            elem.find('.on').removeClass('d-none');
            elem.find('.off').addClass('d-none');
        } else {
            elem.removeClass('selected');
            elem.find('.on').addClass('d-none');
            elem.find('.off').removeClass('d-none');
        }
    }

    function initMenu() {
        $.each($('.device-field a'), function(e) {
            var cookieName = $(this).data('device-id') + '__' + $(this).data('field-id');
            var cookie = Cookies.get(cookieName);
            if (cookie !== undefined && cookie == "not_selected") {
                console.log(cookie);
                setFieldSelected($(this), cookie)
            }
        });
    }

    function anyFieldsActive(device_id) {
        return ($('.device-section[data-device-id='+device_id+'] a.selected').length > 0);
    }

    function getDevices() {
        var devices = [];
        $.each($('.device-section'), function(e) {
            devices.push({
                id: $(this).data('device-id'),
                name: $(this).data('device-name'),
                active: anyFieldsActive($(this).data('device-id'))
            });
        });
        return devices;
    }

    function getSelectedFields() {
        var fields = [];
        $.each($('.selected'), function(e) {
            fields.push({
                device_id: $(this).data('device-id'),
                field_id: $(this).data('field-id')
            });
        });
        return fields;
    }

    $(document).ready(function() {
        initMenu(getSelectedFields());
        initPlot(getSelectedFields());
        $('.device-field a').click(clickFieldOption);
    });
</script>
{% endblock %}


{% block menu %}
<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
    <span>Devices</span>
    <a class="d-flex align-items-center text-muted" href="{{ url_for('sysadmin_devices') }}">
        <i class="fas fa-plus-circle"></i>
    </a>
</h6>
<div id="menu">
    <ul>
        {% for device in devices %}
        {% if device.is_registered() %}
        <li class="device-section" data-device-id="{{ device.id }}" data-device-name="{{ device.get_name() }}">
            <i class="fas fa-hdd"></i> <strong>{{ device.get_name() }}</strong>
            <ul>
                {% for field in device.fields() %}
                <li class="device-field">
                    <a href="#" class="selected" data-field-id="{{ field.id }}" data-device-id="{{ device.id }}">
                        <span class="icon on"><i class="fas fa-toggle-on"></i></span>
                        <span class="icon off d-none"><i class="fas fa-toggle-off"></i></span> {{ field.name }} ({{ field.unit }}) 
                    </a>
                </li>
                {% endfor %}
            </ul>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
</div>
{% endblock %}

{% block title_menu %}                  
<form>
    <div class="form-row">
        <div class="form-group col-auto">
          <label for="exampleFormControlSelect1">Start</label>
          <select class="form-control" id="exampleFormControlSelect1">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
        <div class="form-group col-auto">
          <label for="exampleFormControlSelect2">Plot</label>
          <select class="form-control" id="exampleFormControlSelect2">
            <option>Time Series</option>
          </select>
        </div>
    </div>
</form>
{% endblock %}

