{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block style %}
<style>
    .info-icon {
        margin-top: 6px;
        margin-left: 6px;
        cursor: pointer;
        color: black;
        font-size: 16px;
    }
    .jumbotron {
        background-color: white;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .jumbotron.footer {
        margin-bottom: 0px;
    }
</style>
{% endblock %}

{% block script %}
<script>
    $(document).ready(function() { 
        $('[data-toggle="popover"]').popover()
    });
    var api_url = "{{ url_for('api.readingsapi') }}";


    function calculate_times(init, force_start=null) {
        if (init==null) {
            showAlert('No init time provided to calculate_times', 'danger');
            return null;
        }
        start = null;
        end = null;

        if (init.end == null) {
            // If there is no end time then set to now
            end = moment().utc()
        } else{
            // If there is an end time then cancel the refresh
            end = moment(init.end, 'YYYY-MM-DD, h:mm:ss');
        }
        if (init.start == null) {
            if (force_start !== null) {
                start = moment(force_start);

            } else if (init.period != undefined) {
                // If there is no start time then use the period settings
                start = moment(end).subtract(init.period.days, 'days')
                                    .subtract(init.period.hours, 'hours')
                                    .subtract(init.period.minutes, 'minutes')
            } else {
                showAlert('No start time or period', 'danger')
                return null;
            }
        } else {
            start = moment(init.start, 'YYYY-MM-DD, h:mm:ss');
        }

        if (start === null || end === null) {
            showAlert('Failed to calculate start and end times', 'danger');
            return null;
        }
        // console.log([start_time.format(), end_time.format()]);

        return {
            start: start.format(),
            end: end.format(),
        }
    }

    function getData(start, end, fill, interval, metrics, callback_success, callback_error) {
        var metrics_list = [];
        $.each(metrics, function(k,v) { 
            metrics_list.push(v.device_id+','+v.field_id+','+v.aggrfunc)
        });
        

        var query = {
            dataType: "json",
            method: "GET",
            url: api_url,

            data: {
                start: start,
                end: end,
                fill: fill,
                interval: interval,
                metric: metrics_list,
            },
            success: callback_success,
            error: callback_error
        }
        console.log(query);
        $.ajax(query); 
    }

</script>
{% endblock %}

{% block menu %}

<li class="nav-item dropdown">
    {% if dashes|length > 1 %}
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-desktop"></i> {{ dash.title }}
    </a>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
        {% for d in dashes %}
        <a class="dropdown-item" href="{{ url_for('home', dash_selected=d.slug) }}"><i class="{{ 'fas' if d.title == dash.title else 'far' }} fa-circle" data-fa-transform="shrink-4"></i> {{ d.title }}</a>
        {% endfor %}
    </div>
    {% else %}
        <span class="navbar-text"><i class="fas fa-desktop"></i> {{ dash.title }}</span>
    {% endif %}
</li>

{% endblock %}

{% block body %}

{% if dash %}
{% if dash.header %}
<div class="jumbotron">
    {% if dash.header.title %}<h1 class="display-4">{{ dash.header.title }}</h1>{% endif %}
    {% if dash.header.text %}<p class="lead">{{ dash.header.text }}</p>{% endif %}
</div>
{% endif %}
<div class="container-fluid">
<div class="row">
    {% for plot in dash.plots %}
    <div class="col-xl-{{ plot.width }}">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col lead">{{ plot.title }}</div>
                        <div class="col">
                            <div class="col text-right">
                                {% if plot.help %}
                                <a href="#" class="info-icon" data-container="body" data-toggle="popover" data-placement="bottom" data-content="{{ plot.help }}">
                                    <i class="fas fa-question-circle" data-fa-transform="grow-2"></i>
                                </a>
                                {% endif %}
                                {% if plot.refresh_interval_seconds and plot.time.end == None %}
                                <i class="fas fa-sync info-icon" alt="Refreshing every"></i> {{ plot.refresh_interval_seconds }}s 
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div id="plot-{{ plot.id }}"></div>
                </div>            
            </div>
            {% include 'dashboard/plots/' + plot.type + '.html' %}
    </div>
    {% endfor %}
</div>
</div>
{% if dash.footer %}
<div class="jumbotron footer">
    {% if dash.footer.title %}<h1 class="display-4">{{ dash.footer.title }}</h1>{% endif %}
    {% if dash.footer.text %}<p class="lead">{{ dash.footer.text }}</p>{% endif %}
</div>
{% endif %}
{% else %}
<div class="jumbotron ">
<h1 class="display-4">No Dashboards configured</h1>
<p class="lead">To create a dashboad check out the readme file in the '{{ config.DASHBOARDS_PATH }}' directory</p>
</div>
{% endif %}
{% endblock %}

