{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block script %}
 <!-- Icons -->
 <script>
    function getData(test_device_0, callback_success, callback_error) {
        var apiUrl = "{{ url_for('api_get', device_id='DEVICE_ID') }}".replace('DEVICE_ID',test_device_0);
        $.ajax({
                dataType: "json",
                url: apiUrl,
                data: {
                    start: moment().utc().subtract(1, 'minutes').format(),
                    end: moment().utc().format(),
                    fill: "null",
                    interval: 1,
                    limit: 30,
                },
                success: callback_success,
                error: callback_error
        }); 
    }

    function getDevices(callback_success, callback_error) {
        var apiUrl = "{{ url_for('api_get_devices') }}";
        $.ajax({
                dataType: "json",
                url: apiUrl,
                success: callback_success,
                error: callback_error
        }); 
    }

    function update() {
        console.log("UPDATE");
        // getData(test_device_0, function() {
        // });
    }

    $(document).ready(function() {

        $(".device-link").click(function() {
            console.log(["data-device-id", $(this).data('device-id') ]);
            var is_active = $(this).find('.nav-link').first().hasClass('active');
            if (is_active) {
                // Deactivate this and all children
                $(this).find('.nav-link').removeClass('active');
            } else {
                // Activate this only
                $(this).find('.nav-link').first().addClass('active');
            }
        });
        
        $(".field-link").click(function() {
            console.log(["data-device-id", $(this).data('device-id') ]);
            $(this).toggleClass('active');
        });


        // setInterval(update, 2500);

        getDevices(function(resp) {
            console.log(resp);
            $('#menu').html('');
            for (i in resp.devices) {
                var device = resp.registered[i]
                console.log(device);
                $('#menu').append('<li>'+device.name+'</li>');
            }
        }, null);
    });
</script>
{% endblock %}

{% block menu %}
<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
    <span>Devices</span>
    <a class="d-flex align-items-center text-muted" href="{{ url_for('sysadmin_devices') }}">
        <span data-feather="plus-circle"></span> &nbsp;Register
    </a>
</h6>
<ul id="menu"></ul>
{% endblock %}

{% block content %}                  
  Page Content
{% endblock %}
