<nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">

      <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Devices</span>
          <a class="d-flex align-items-center text-muted" href="{{ url_for('device_register') }}">
            <span data-feather="plus-circle"> </span> &nbsp;Register
          </a>
        </h6>
        
      <ul class="nav flex-column">

        {% for device in devices.registered %}
        <li class="nav-item">
          <div class="nav-link device-link" data-device-id="{{ device.id }}">
            <span data-feather="activity"></span>
            {{ device.name }}
            <a class="float-right" href="{{ url_for('device_register_config', device_id=device.id) }}"><span data-feather="edit-2"></span></a>
          </div>
          <ul class="device-fields">
              {% for f in field_names %}
              <li class="nav-item  field-link" data-field-name="{{ f.name }}">
                <a class="nav-link" href="#">
                  <span data-feather="file-text"></span>
                  {{ f.name }} ({{ f.type }})
                </a>
              </li>
              {% else %}
               <li class="nav-item">
                  <a class="nav-link disabled" href="#">
                    <span data-feather="file-text"></span>
                    None
                  </a>
                </li>
              {% endfor %}
            </ul>
        </li>
        {% else %}
         <li class="nav-item">
            <a class="nav-link" href="{{ url_for('sysadmin_devices') }}">
              <span data-feather="plus"></span>
              Register a new device
            </a>
          </li>
        {% endfor %}
      </ul>

      <!-- <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
        <span>Data Types</span>
      </h6>
       -->
    </div>
  </nav>